body {
    font-family: "arial", sans-serif;
    background-color: rgb(54, 52, 52);
/* 
    background: linear-gradient(
        to right,
        rgba(241, 220, 59, 0.744),
        rgba(13, 126, 9, 0.728)
    ); */
}

h1,
button {
    font-family: "arial", sans-serif;
    color: rgb(40, 40, 40);
    border: none;
}
button:hover{
    transition: 0.3s;
    color: rgb(243, 243, 243);
}


p {
    color: #41332f;
    margin-top: 20px;
}


a {
    color: white;
}

.primary-button {
    color: white;
    padding: 12px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background: linear-gradient(
        to right,
        rgba(13, 126, 9, 0.728),
        rgba(241, 220, 59, 0.744)
    );
    color: white;
    font-weight: bold;
}

.primary-button:hover {
    background: linear-gradient(
        to right,
        rgb(241, 220, 59),
        rgb(13, 126, 9),
    );
}

@media (max-width: 750px) {
    h1,
    h2,
    p {
        text-align: center;
    }
}
/* 
#logoadam{
    position: absolute;
    left: 3%;
    top: 3%;
} */


#wrap{
    display: inline-block;
    display: flex;
    justify-content: center;
    /* margin: auto;
    padding: 0; */

}

/* #imgPreview{
    border-radius: 60%;
    position: absolute;
    margin: 0;
    top: 5%;
    left: 70%;

} */