#stage {
    margin: 0;
    top: 0;
    overflow: hidden;
    position:relative;
    perspective: 300px;
  }
  
#stage svg {
    position: block;
    /* fill: transparent; */
    
  }

  #road {
    opacity:.9;
    width: 120vw;
    /* width: 120vw; */
    height: 5vw;
    min-height:150px;
    /* border-radius: 50%/100px 100px 0 0; */
    /* border-radius: 50px 100px 0 0; */
    background: rgb(0, 62, 34);
    background: linear-gradient(#145e0ab1, #c5c505b2);
    
    background-image: linear-gradient(
      rgba(0, 51, 7, 0.7) 0%,
      rgba(51, 92, 4, 0.8)5%,
      rgba(0, 95, 8, 0.2) 50%,
      rgba(0, 91, 8, 0.4) 70%,
      rgba(0, 121, 10, 0.5) 87%,
      rgba(255, 234, 0, 0.495) 100%
    ),    url("../img/download.gif");
    /* background-image: linear-gradient(
        rgba(201, 225, 204, 0.7) 0%,
        rgba(1, 43, 4, 0.8)5%,
        rgba(0, 95, 8, 0.2) 50%,
        rgba(0, 91, 8, 0.4) 70%,
        rgba(0, 121, 10, 0.5) 87%,
        rgba(255, 234, 0, 0.194) 100%
      ),    url("data:image/gif;base64,R0lGODlhAAFAAJEAAGdnZ3d3d4eHh5iYmCH5BAAAAAAALAAAAAAAAUAAAAL/xGKCm3re4pNs2kthzVxj/4HdGG7liZLpyram+rqwTNfxfOc2vvP+3xMBh8SgUahLKpdHpvOJhEqj1Kq1ib1Oi1kt99v1isNbcnl8NqfB6rX73Y6z0XI4/W7P4/Xz/r4OyBf4R+hXOHgoiKiYuNho6PgIyThJWWl5iRmpucmZKfnZKepJOhpaCmqqesqK2pq6CvsaK+tKWzuLm7vLa3vbq+sLPCxcHHyMTKz8u8xs3Azt/Cw9TW0djX2drM293Z1dHf49Di7uXX6Onk6uzr7+3g7vHk8vXz+Pb5+/f9/P768vIECB/wiaO4jQYMGFCgc6ZPiwYUKIEyNKpIjRosaMWRwrdvS4MeTFjyRFjgSJMqXJkixXqmwJ0+XJmTFpyrRZM6fOlzxv+tzZ8ydOoUOBEjWK9KjSokGbJmW6FOrTqFOlWqV6FavTrFW1dvUKdutXrmLLhh1r1lABADs="); */
    background-size: 19vw auto;
    transform-origin: center top;
    transform: rotateX(45deg) translate(-20vw);
    animation: stripemove 0.9s linear infinite;
  }
  
  @keyframes stripemove {
    to {
      transform: rotateX(45deg) translate(0vw);
    }
  }
  
  #stripes {
    position: absolute;
    opacity: 0.5;
    top: 50%;
    width: 120vw;
    min-width:60vw;
    height: 5%;
    background: repeating-linear-gradient(
      to right,
      white,
      white 8vw,
      transparent 8vw,
      transparent 20vw
    );
  }


