body {
    font-family: "arial", sans-serif;
    /* background: linear-gradient(
        to right,
        rgba(241, 220, 59, 0.744),
        rgba(13, 126, 9, 0.728)
    ); */
    background-color: rgb(218, 218, 218);

}

.light-mode{
    border: none;
}
.dark-mode {
    filter: contrast(200%);
    filter: grayscale(100%);
    background-color: rgb(0, 0, 0);
    /* padding: 0;
    margin: 0;
    box-sizing: border-box; */
}

h1,
button {
    font-family: "arial", sans-serif;
    color: rgb(40, 40, 40);
    border: none;
}
button:hover{
    transition: 0.3s;
    color: rgb(243, 243, 243);
}


p {
    color: #41332f;
    margin-top: 20px;
}


a {
    color: white;
}

.primary-button {
    color: white;
    padding: 12px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background: linear-gradient(
        to right,
        rgba(13, 126, 9, 0.728),
        rgba(241, 220, 59, 0.744)
    );
    color: white;
    font-weight: bold;
}

.primary-button:hover {
    background: linear-gradient(
        to right,
        rgb(241, 220, 59),
        rgb(13, 126, 9),
    );
}

@media (max-width: 750px) {
    h1,
    h2,
    p {
        text-align: center;
    }
}