@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	/* background-color: #fafafa; */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	transition: background 0.2s linear;

}

body.dark {
background: #292C35;
filter: contrast(200%);
filter: grayscale(100%);
background-color: rgb(0, 0, 0);
background: linear-gradient(-45deg, #043122, #36362d, #83846e, #536159);
animation: gradient 15s ease infinite;

}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.3);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #ffea00;
}

.fa-sun {
	color: #ffea00;
}

