* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    transition: ease-in-out;
    transition: 0.8s;
    background-color: rgb(218, 218, 218);
    overflow: hidden;
    background: linear-gradient(-45deg, #043122, #9d9999, #6da338, #fcc900);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}


header img {
    top: 0;
    left: 0;
    width: 10%;
}

.header-buttons {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1%;
    top: 20%;
    right: 5%;
    /* position: absolute; */
    z-index: 1000;
    
}

/* Header button extra */
header button {
    background-color: transparent;
    width: max-content;
    flex: 1 0 auto;
    margin: 0 2%;
    padding: 1% 8%;
    font-size: 1.2rem;
    height: 40px;
}

header button:hover {
    font-weight: 600;
}


/* Login in and register button */
.log-buttons {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50vh;
    right: 50vw;
    flex-direction: column;

}

.log-buttons button{
    background-color: transparent;
    /* width: max-content; */
    /* flex: 10 10 auto; */
    margin: 10px 10px;
    padding: 1% 8%;
    font-size: 1.2rem;
    height: 60px;
    min-width: 300px;
    border-radius: 30px;
    animation: float 6s ease-in-out infinite;

}


#darkbutton{
    position: absolute;
    right: 5%;
    top: 10%;
}

@media (max-width: 1250px) {
    header img {
        width: 130px;
    }

    header button {
        padding: 1px 5px;
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
    header img {
        width: 90px;
    }
    header button {
        padding: 1px 5px;
        font-size: 0.8rem;
    }
}

#loader{
    /* background: rgba(219, 218, 218); */
      /* background: linear-gradient(
      to right,
      rgb(127, 116, 34),
      rgb(43, 126, 40)
  ); */
  position: absolute;
  top: 0;
  margin-top: 40vh;
  left: 50%;
  width:600px;
  height: auto;
  z-index: -1;
  
}

#loader2{

  position: absolute;
  top: 0;
  margin-top: 40vh;
  right: 50%;
  width:600px;
  height: auto;
  
  z-index: -1;
}

.svgcoolforu {
    /* height: 10%; */
    /* width: 100%; */
    /* bottom: 0; */
  }



.st0{
    stroke: rgb(165, 181, 151);
    stroke-width: 1px;
    fill: none;
    stroke-dasharray: 150, 200;
    stroke-dashoffset: 0;
    animation: pulse 8s infinite linear;
    filter: blur(0.3px);
}
.st1{
    stroke: rgb(9, 68, 17);
    stroke-width: 1px;
    fill: none;
    stroke-dasharray: 150, 200;
    stroke-dashoffset: 0;
    animation: pulse 10s infinite linear;

}

@keyframes pulse {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1050;
  }
}

#mainlogoadam{
    max-width:300px;
    margin-bottom: 50px;
    
}