@media only screen and (min-width: 500px) {
  body {
    min-height: 100vh;
  }
}

.form__label {
  display: block;
  margin-bottom: 0.5rem;
}
.form__input {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0.7rem;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius:3px 15px;
    border: solid 3px transparent;
    border-bottom: dashed 3px #fff200;
    font-size: 1rem;
    color: hsla(260, 2%, 25%, 0.7);
    width: 70%;
    margin-bottom: 20px;
  &:focus {
    outline: none;
    border: solid 3px #ea95e0;
  }
}
@media only screen and (min-width: 500px) {
 .form__input {
    width: 60%;
  }
}

.button {
  padding: 0;
  color: white;
  border: none;
  font-family: 'Montserrat', system-ui, sans-serif;
  border-radius: 40%;
  border-radius:35% 65% 25% 75% / 6% 100% 0% 94% ;
  background-color: #f1ed00;
  padding-bottom: 2px;
  box-shadow: 0 2px 0 hsl(198, 1%, 29%);
  position: relative;
  

}
.button span {
  background-color: #005f23;
  display: block;
  padding: 10px 10px;
  width: max-content;
  border-radius:35% 65% 25% 75% / 6% 100% 0% 94% ;
  position: relative;
  
}

.button:active, .button:focus {
  padding-bottom: 0px;
  outline: 0;
}
.toDoList {
  text-align: left;
  li {
    position: relative;
    padding: 0.5rem;
  }
  li:hover {
    text-decoration: line-through wavy #24bffb;
  }
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color:rgb(249, 212, 0);
  font-family: Montserrat;
  border-radius: 10px;
}

#formhab input[type=text] {
  background-color: rgba(224, 232, 76, 0.749);
}

#formhab input[type=text]::placeholder{
  color: rgb(87, 0, 0);
}


#addHabitBtn{
  cursor: pointer;
 float: right;
  border: none;
  
  color: rgb(254, 242, 0);
  padding-left: 10px;
  border-radius: 50%;
  border-radius:35% 65% 25% 75% / 6% 100% 0% 94% ;
  background-color: #004810;
  width: max-content;
  height: max-content;
  padding: 12px 20px;
  border-left: 2px solid rgb(251, 255, 0);
  border-right: 2px solid rgb(252, 244, 0);
  font-family: Montserrat;
  font-weight: 600;
}

#addHabitBtn:hover {
  background-color: rgb(0, 50, 11);
}

#formhab {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    /* box-sizing: border-box; */
  }

  .task {
    float: right;
    padding: 5px;
    width: 300px;
    border-radius: 2px;
  }
  
  .checkboxtask {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 50%;
    border-radius:35% 65% 25% 75% / 6% 100% 0% 94% ;
    border: 5px solid #c9c9c95e;
    background-color:rgba(13, 88, 7, 0.509);
    transition: all 0.25s cubic-bezier(0,0,0,1);
    cursor: pointer;

    &.checked {
      background-color: #77DDA8;
      border: none;
    }
  
  }
  .checkboxtask:hover{
    background-color: rgb(255, 255, 0);
  }

  .checkboxtask:active {
    background-color: rgb(255, 255, 0);
    transform: scale(0.8);

  }

  .description{
    color: rgb(255, 234, 0);
  }
  main #logout-btn{
    border: none;
    color: rgb(66, 108, 0);
    cursor: pointer;
  }

  #deleteaccountbtn{
    border: none;
    color: rgb(66, 108, 0);
    color: white;
    padding: 12px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background: linear-gradient(
        to right,
        rgba(13, 126, 9, 0.728),
        rgba(241, 220, 59, 0.744)
    );
    color: white;
    font-weight: bold;
    margin-left: 10px;
  }

  #avatar-button{
    border: none;
    color: rgb(66, 108, 0);
    color: white;
    padding: 12px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background: linear-gradient(
        to right,
        rgba(13, 126, 9, 0.728),
        rgba(241, 220, 59, 0.744)
    );
    color: white;
    font-weight: bold;
  }
  main .thumb2 {
    max-width: 80px;
  }
  #putcircle{
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 50%;
    display: inline-block;
  }

  main .dashboard .setcardcolumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--o-padding);
    -ms-flex-item-align: baseline;
    align-self: baseline;
  }
  main .dashboard .setcardcolumn .setcard .content {
    font-size: 14px;
  }
  main .dashboard .setcardcolumn .setcard span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    min-width: 24px;
    max-width: 24px;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
  }
  main .dashboard .setcardcolumn .setcard span:hover {
    color: var(--c-elements);
    background: var(--c-bg-elements);
  }
  main .dashboard .setcardcolumn .setcard header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  main .dashboard .setcardcolumn .setcard header a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  main .dashboard .setcardcolumn .setcard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4px;
  }

.delete-habit-btn {
  position: absolute;
  right: 3%;
  background-color: rgb(249, 212, 0);
  width: 32px;
  height: 32px;
  opacity: 1;
  
}

.delete-habit-btn {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  
}
.delete-habit-btn:hover {
  opacity: 1;
  
}
.delete-habit-btn:before, .delete-habit-btn:after {
  position: absolute;
  left: 11.3px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: rgb(8, 165, 73);
}
.delete-habit-btn:before {
  transform: rotate(45deg);
}
.delete-habit-btn:after {
  transform: rotate(-45deg);
}

.streakLeaf{
  color: rgb(255, 255, 0);
  font-weight: 700;
  border: 5px solid rgba(176, 176, 0, 0.534);
  padding: 20px;
  width: max-content;
  border-radius:35% 65% 25% 75% / 6% 100% 0% 94% ;
  background-color: #004810;
  animation: shake 3s infinite cubic-bezier(.36,.07,.19,.97) both;
}

.streakLeafaf{
  transition: 0.6s;
  color: rgb(183, 4, 4);
  font-weight: 900;
  background-color: #480000;
  border-color: rgba(179, 10, 10, 0.644);
  box-shadow: 0 0 10px #f1d900;
}



@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}